name: Release

on:
  push:
    branches:
      - master

jobs:
  run_tests:
    uses: ./.github/workflows/test.yml

  release:
    runs-on: ubuntu-latest
    needs: ["run_tests"]
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0  # Needed for tags

      - name: Action | Semantic Version Release
        id: release
        # Adjust tag with desired version if applicable.
        uses: python-semantic-release/python-semantic-release@v10.0.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          git_committer_name: "github-actions"
          git_committer_email: "actions@users.noreply.github.com"

      - name: Publish | Upload to GitHub Release Assets
        uses: python-semantic-release/publish-action@v10.0.2
        if: steps.release.outputs.released == 'true'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ steps.release.outputs.tag }}