name: Run tests

on:
  push:
    branches-ignore:
      # release workflow will take care of that branch push
      - master
  pull_request:
    branches: [ "master" ]

  workflow_call:

permissions:
  contents: read

jobs:
  run_tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11","3.12", "3.13"]

    steps:
    - uses: actions/checkout@v6

    - name: Install uv and set python
      uses: astral-sh/setup-uv@v7
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install package
      run: |
        uv sync

    - name: Lint with ruff
      run: |
        uv run ruff check .

    - name: Test with pytest
      run: |
        uv run pytest
